.bgLightPurple{
    background-color: #49006a
}
.btnBackground{
    background-color: #9b24cc !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}
.pb200{
    padding-bottom: 193px;
}