<div class="col-sm-12 padding100">
  <div class="col-sm-12 offset-sm-0 paddingLR232">
    <div class="col-sm-12 user paddingTB">
      <div class="row">
        <div class="col-sm-3 t">
          <div class="col-sm-12 paddingB10">
            <b class="f12">Customer(English)</b>
          </div>
          <div class="col-sm-12 f8 paddingT10">
            <b><label>mohd</label></b>
          </div>
          <div class="col-sm-12 f8">
            <b><label> nishanth</label></b>
          </div>
        </div>
        <div class="col-sm-3 t">
          <div class="col-sm-12  paddingB10 paddingLR0">
            <b class="f12">Customer</b>
          </div>
          <div class="col-sm-12 f8 paddingLR0 paddingT10">
            <b><label>Mohammed Farag</label></b>
          </div>
          <div class="col-sm-12 f8 paddingLR0">
            <b><label>Nishanth Kummar</label></b>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-sm-12 text-center paddingB10">
            <b class="f12">District</b>
          </div>
          <div class="col-sm-12 text-center f8 paddingT10 paddingLR0">
            <select class="form-control f8" id="sel1" name="sellist1">
              <option><b>Selesman</b></option>
              <option><b>Selesman</b></option>
              <option><b>Selesman</b></option>
              <option><b>Selesman</b></option>
            </select>
          </div>
          <div class="col-sm-12 text-center f8 paddingLR0">
            <div class="col-sm-12 text-center f8 paddingT10 paddingLR0">
              <select class="form-control f8" id="sel1" name="sellist1">
                <option><b>Selesman</b></option>
                <option><b>Selesman</b></option>
                <option><b>Selesman</b></option>
                <option><b>Selesman</b></option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3 paddingLR0">
          <div class="col-sm-12 text-center paddingB10 paddingLR0">
            <b class="f12">Active Status</b>
          </div>
          <div class="col-sm-12 paddL40 t row  paddingT10">
              <mat-slide-toggle color="primary">active</mat-slide-toggle>
          </div>
          <div class="col-sm-12 paddL40 t row ">
              <mat-slide-toggle color="primary">active</mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 form-group pB150 row">
      <div class="col-sm-6 paddingLR0">
        <div class="col-sm-12 row paddingLR0 mRL15 pT20">
          <div class="col-sm-2 form-group f20 t pL10"><img src="../assets/images/plus_icon.PNG" class="rounded-circle"
              alt="PlusIcon" width="32" height="32"></div>
          <div class="col-sm-4 pT5 t pRmT pl-1"><button type="button" class="bt btn-block btnBgPurple">Save</button></div>
        </div>
      </div>
    </div>

  </div>
</div>