/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.f24{
    font-size: 24px !important;
}
.bgPurple{
    background-color: #2f0541 ;
}
.colorWhite{
    color: #ffffff;
    }
.btnBgPurple{
    background-color: #480565;
}
.btnColorWhite{
    color: #ffffff
}
