<form [formGroup]="login">
  <div class="col-sm-12 bgPurple pb200 pt-5">
    <div class="col-sm-4 offset-sm-4 pt-5">
      <div class="col-sm-12 bgLightPurple p-0">
        <div class="col-sm-8 offset-sm-2 pt-5 p-0">
          <label class="colorWhite f24">Login</label>
        </div>
        <div class="col-sm-8 offset-sm-2 pt-4 p-0">
          <input type="text" formControlName="userName" name="userName" class="form-control" placeholder="Username" id="Username">
        </div>
        <div class="col-sm-8 offset-sm-2 pt-4 p-0">
          <input type="password" formControlName="password" name="password" class="form-control" placeholder="Password" id="Password">
        </div>
        <div class="col-sm-6 offset-sm-6 pt-4 pb-5 p-0">
          <button type="button" class="btn col-sm-8 btnBackground" id="login" routerLink="/user" [disabled]="login.invalid">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>