<div class="col-sm-12 p-0">
  <div class="col-sm-12 mt-5 pt-5">
    <div class="col-sm-6 offset-sm-3 p-0">
      <div class="col-sm-10 offset-sm-1 boxShadow">
        <div class="d-flex pt-4 ">
          <div class="col">
            <b><label>Supplier (English)</label></b>
          </div>
          <div class="col">
            <b>Supplier</b>>
          </div>
          <div class="col">
            <b>Active Status</b>
          </div>
        </div>
        <div class="d-flex pt-2">
          <div class="col">
            <label class="fw700">mohad </label>
          </div>
          <div class="col">
            <label class="fw700">mohammed Farag</label>
          </div>
          <div class="col">
              <mat-slide-toggle color="primary">active</mat-slide-toggle>
          </div>
        </div>
        <div class="d-flex pb-4">
          <div class="col">
            <label class="fw700">mohad </label>
          </div>
          <div class="col">
            <label class="fw700">mohammed Farag</label>
          </div>
          <div class="col">
              <mat-slide-toggle color="primary">active</mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="col-sm-10 offset-sm-1 row pt-4">
        <div class="col-sm-1 "><img src="../assets/images/plus_icon.PNG" class="rounded-circle" alt="PlusIcon" width="32"
            height="32"></div>
        <div class="col-sm-4">
          <button type="button" class="col-sm-8 btn btn-sm btnBgPurple btnColorWhite btnRadius6">Save</button>
        </div>
      </div>
    </div>
  </div>