<div class="col-sm-12 mT10">
  <div class="col-sm-12 offset-sm-0 paddLR105">
    <div class="row">
      <div class="col-sm-6 offset-sm-0 paddL109">
        <div class="boxShadow col-sm-12">
          <div class="col-sm-12 form-group mT25 row">
            <div class="col-sm-6 form-group f20"><label>Item Name</label></div>
            <div class="col-sm-6 form-group pL0R0"><input type="text" id="itemName" class="form-control input_height16"></div>
          </div>
          <div class="col-sm-12 form-group row">
            <div class="col-sm-6 form-group f20"><label>Bar Code</label></div>
            <div class="col-sm-6 form-group pL0R0"><input type="text" id="barCode" class="form-control input_height16"></div>
          </div>
          <div class="col-sm-12 form-group row">
            <div class="col-sm-6 form-group f20"><label>UOM</label></div>
            <div class="col-sm-6 form-group pL0R0"><select id="uom" class="form-control input_height16">
                <option>Choose</option>
                <option>1</option>
                <option>2</option>
              </select></div>
          </div>
          <div class="col-sm-12 form-group row">
            <div class="col-sm-6 form-group f20"><label>Weight</label></div>
            <div class="col-sm-6 form-group pL0R0"><input type="text" id="weight" class="form-control input_height16"></div>
          </div>
          <div class="col-sm-12 form-group row">
            <div class="col-sm-6 form-group f20"><label>Average Price</label></div>
            <div class="col-sm-6 form-group pL0R0"><input type="text" id="avgPrice" class="form-control input_height16"></div>
          </div>
          <div class="col-sm-12 form-group row">
            <div class="col-sm-6 form-group f20"><label>Active</label></div>
            <div class="col-sm-6 form-group pL0R0">
                <mat-slide-toggle color="primary">active</mat-slide-toggle>
            </div>
          </div>
          <div class="col-sm-12 form-group row">
            <div class="col-sm-6 pL0R0">
              <div class="col-sm-12 row">
                <div class="col-sm-4 form-group f20 pL10"><img src="../assets/images/plus_icon.PNG" height="30px" width="33px"></div>
                <div class="col-sm-8 pRmT"><button type="button" class="btn btn-sm btn-block btnBgPurple">Save</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-1 mT25 pL0R0">
        <div class="col-sm-12 pR0 row">
          <div class="col-sm-5">
            <input type="text" class="form-control input_height16">
          </div>
          <div class="col-sm-6 f20 pL36 pR0">
            Item Name (Arabic)
          </div>
        </div>
        <div class="col-sm-8 mT60 offset-sm-4 form-group f20">
          Customer Price
        </div>
        <div class="col-sm-7 offset-sm-4">
          <div class="col-sm-12 boxShadow">
            <div class="d-flex justify-content-between pt-3">
              <div class="p-2 ">Jleeb Co.</div>
              <div class="p-2 ">0.250</div>
            </div>
            <div class="d-flex justify-content-between pb-3">
              <div class="p-2 ">Farwania</div>
              <div class="p-2 ">1.100</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <mat-checkbox>Check me!</mat-checkbox> -->
