<div class="col-sm-12 padding100">
  <div class="col-sm-12 paddingLR232">
    <div class="col-sm-12 user paddingTB">
      <div class="row">
        <div class="col-sm-2 t">
          <div class="col-sm-12 paddingB10">
            <b class="fontWeight500">Usemame</b>
          </div>
          <div class="col-sm-12 f8 paddingT10">
            <b><label>mohd</label></b>
            <!-- <input type="text" class="form-control" name="username"> -->
          </div>
          <div class="col-sm-12 f8">
            <b><label> nishanth</label></b>
          </div>
        </div>
        <div class="col-sm-2 t">
          <div class="col-sm-12  paddingB10 paddingLR0">
            <b class="fontWeight500">Name (English)</b>
          </div>
          <div class="col-sm-12 f8 paddingLR0 paddingT10">
            <b><label>Mohammed Farag</label></b>
          </div>
          <div class="col-sm-12 f8 paddingLR0">
            <b><label>Nishanth Kummar</label></b>
          </div>
        </div>
        <div class="col-sm-2 paddingLR0">
          <div class="col-sm-12 text-center paddingB10">
            <b class="fontWeight500">Name</b>
          </div>
        </div>
        <div class="col-sm-2 paddingLR0">
          <div class="col-sm-12 text-center paddingB10">
            <b class="fontWeight500">Active Status</b>
          </div>
          <div class="col-sm-12 f8 text-center paddingT10 ">
            <b><label class="color">Active</label></b>
          </div>
          <div class="col-sm-12 f8 text-center">
            <b><label class="color">Active</label></b>
          </div>
        </div>
        <div class="col-sm-2 paddingLR0">
          <div class="col-sm-12 text-center paddingB10 paddingLR0">
            <b class="fontWeight500">Reset Password</b>
          </div>
          <div class="col-sm-12 text-center f8 paddingT10">
            <button type="button" class="btn btn-primary btn-sm">Reset</button>
          </div>
          <div class="col-sm-12 text-center f8 pt-1">
            <button type="button" class="btn btn-primary btn-sm">Reset</button>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="col-sm-12 text-center paddingB10">
            <b class="fontWeight500">Role</b>
          </div>
          <div class="col-sm-12 text-center f8 paddingT10 paddingLR0">
            <select class="form-control f8" id="sel1" name="sellist1">
              <option><b>Selesman</b></option>
              <option><b>Selesman</b></option>
              <option><b>Selesman</b></option>
              <option><b>Selesman</b></option>
            </select>
          </div>
          <div class="col-sm-12 text-center f8 paddingLR0">
            <div class="col-sm-12 text-center f8 paddingT10 paddingLR0">
              <select class="form-control f8" id="sel1" name="sellist1">
                <option><b>Selesman</b></option>
                <option><b>Selesman</b></option>
                <option><b>Selesman</b></option>
                <option><b>Selesman</b></option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 form-group pB150 row">
      <div class="col-sm-6 paddingLR0">
        <!-- <div class="col-sm-12 row paddingLR0 mRL15 pT20">
          <div class="col-sm-1 form-group f20 t pL10"><img src="../assets/images/plus_icon.PNG" class="rounded-circle"
              alt="PlusIcon" width="32" height="32"></div>
          <div class="col-sm-3 pT5 t pRmT ml-2"><button type="button" class="bt btn-block btnBgPurple">Save</button></div>
        </div> -->

        <div class="col-sm-12 row paddingLR0 mRL15 pT20">
            <div class="col-sm-1 ml-4"><span class="iconBg paddingT8 paddingL"><i class="fa fa-plus"></i></span></div>
            <div class="col-sm-4  t pRmT ml-2"><button type="button" class="bt p-2 btn-block btnBgPurple">Save</button></div>
          </div>


      </div>
    </div>
    <div class="col-sm-12 text-center">
      <div class="col-sm-3 offset-sm-5 text-center">
        <button type="button" class="col-sm-10 bt1 btn-block btnBgPurple">Saved!</button>
      </div>
    </div>
  </div>
</div>